@charset "UTF-8";

@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('/fonts/cmmn/NanumMyeongjo.eot') format('embedded-opentype'),
        url('/fonts/cmmn/NanumMyeongjo.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('/fonts/cmmn/NanumMyeongjoBold.woff') format('woff'),
        url('/fonts/cmmn/NanumMyeongjoBold.eot') format('embedded-opentype'),
        url('/fonts/cmmn/NanumMyeongjoBold.ttf') format('truetype');
}