@charset "UTF-8";

@media print {
	@page {size: A4; page-break-after: always;}
	body {font-size: 13px;}
	.header {display: none;}
	.footer {display: none;}
	#real_contents {padding-bottom: 0 !important;}
	.sub_con {padding-bottom: 0 !important;}
	.container {width: 991px !important;}

	
	.sub_top_tit {padding: 0 0 40px !important;}
}
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}